<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devcrafters |About</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
</head>

<body>

    <div class="navbar" id="navbar">
        <!-- <image src="{{url_for('static',filename='img/shape1.svg')}}" alt="shape" class="vector1" /> -->
        <a href="#"><span class="logo">DevCrafters</span></a>
        <ul>
            <li class="current"><a href="{{url_for('index')}}">HOME</a></li>
            <li><a href="{{url_for('about')}}">ABOUT</a></li>
            <li><a href="{{url_for('contact')}}">CONTACT US</a></li>
            <li><a href="{{url_for('leave')}}">LEAVE NOTE</a></li>
            <li><a href="{{url_for('parent')}}">PARENT LOGIN</a></li>
            <a href="{{url_for('login')}}"><class="btn" style="text-decoration:none">Sign In</a>
            <!-- <image src="{{url_for('static',filename='img/shape2.svg')}}" alt="img" class="vector2" /> -->
        </ul>
    </div>
    <!-- About section -->
    <section class="about-section">
        <div class="about-left">
            <image src="{{url_for('static',filename='img/2649645-removebg-preview.png')}}" alt="img">
        </div>
        <div class="about-right">
           <h3> ABOUT TEAM DEVCRAFTERS:</h3>
            <p> We are a team of six to-be software engineers who are passionate about creating   
                and implementing online systems that save time. We offer an optimized approach 
                to every real-life problem. Our motto is to strive for perfection and try being better 
                at everything we do. In the end, we offer software you can rely upon.
            </p>
           <br >
            
           <h3 id="po"> WHAT WE DO?</h3>
            <p>Our motto is "Code to resolve," by that we mean resolving all issues we can identify around 
                ourselves.As a team, we navigate through different areas of knowledge and apply and execute 
                them. Playing with  tech stacks is our passion. We always surf through on-learning agenda 
                projects to help improve ourselves.</p>
            <br>
             
             <h3 id="ho">TEAM MEMBERS</h3>
             <ul>
             <li>Soumik Kumar Ghosal</li>
             <li>Abhishek Mondal</li>
             <li>Kheya Rani Das</li>
             <li>Mohit Pandey</li>
             <li>Esha Kumari</li>
             <li>Ruma Karn</li>
             </ul>
            </div>

    </section>
</body>

</html>