<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATTENDANCE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='attendance.css')}}" />
    <title>ATTENDANCE</title>
</head>

<body>
    <br>
    <br>
    <div class="container my-3">
        <div class="t">

            <div class="page-title">
                <h2>ATTENDANCE</h2>

            </div>
        </div>
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th scope="col">S.No.</th>
                    <th scope="col">ID</th>
                    <th scope="col">NAME</th>
                    <th scope="col">DATE</th>
                    <th scope="col">IN-TIME</th>
                    <th scope="col">OUT-TIME</th>
                </tr>
            </thead>
            <tbody>
                {% for atd in attendance %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{atd.pid}}</td>
                    <td>{{atd.pname}}</td>
                    <td>{{atd.date}}</td>
                    <td>{{atd.intime}}</td>
                    <td>{{atd.outtime}}</td>
                </tr>
                {% endfor %}
            </tbody>
    </div>
    <br>
    <br>
    <a href="{{url_for('logout')}}">LOGOUT</a>
</body>

</html>