<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dashboard.css')}}">
</head>
<body>
    
<div class="wrapper">
  <!-- search starts -->
  <div class="search">
    <form class="search-form d-flex">
      <label>
        <button type="submit" class="searchButton"><i class="fa fa-search"></i></button>
        <input type="search" id="site-search" class="search-input" placeholder="Global Search" autocomplete="on" />
      </label>

      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M19.5 18.2071V18.5H4.5V18.2071L6.35355 16.3536L6.5 16.2071V16V11C6.5 8.09437 8.02219 5.78092 10.6153 5.16653L11 5.07538V4.68V4C11 3.44614 11.4461 3 12 3C12.5539 3 13 3.44614 13 4V4.68V5.07506L13.3843 5.16644C15.9681 5.78076 17.5 8.10482 17.5 11V16V16.2071L17.6464 16.3536L19.5 18.2071ZM13.4135 20.5C13.2061 21.0806 12.6488 21.5 12 21.5C11.3443 21.5 10.7907 21.0813 10.5854 20.5H13.4135Z" fill="white" stroke="#C2CFE0" />
        <circle cx="17" cy="6" r="4.5" fill="#F7685B" stroke="white" />
      </svg>
    </form>
  </div>
  <!-- search ends -->

  <!-- sidebar starts -->
  <aside class="sidebar">
    <!-- saas header -->
    <div class="header">
      <h3>Dashboard</h3>
    </div>
    <!-- sidebar inner -->
    <div class="sidebar_inner">
      <!-- person block-->
      <div class="person">
       
        <div class="description">
          <span class="descriptionName">Student</span>
          <span class="descriptionMail"> student123@gmail.com</span>
        </div>
      </div>
      <!-- navbar-->
      <nav class="navbar">
        <ul>
          <li class="nav-item">
            <a href="">
              <div class="menu-icon">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3.5 10.1333C3.33431 10.1333 3.2 9.99902 3.2 9.83333V3.5C3.2 3.33431 3.33431 3.2 3.5 3.2H8.16667C8.33235 3.2 8.46667 3.33431 8.46667 3.5V9.83333C8.46667 9.99902 8.33235 10.1333 8.16667 10.1333H3.5ZM3.5 16.8C3.33431 16.8 3.2 16.6657 3.2 16.5V13.5C3.2 13.3343 3.33431 13.2 3.5 13.2H8.16667C8.33235 13.2 8.46667 13.3343 8.46667 13.5V16.5C8.46667 16.6657 8.33235 16.8 8.16667 16.8H3.5ZM11.8333 16.8C11.6676 16.8 11.5333 16.6657 11.5333 16.5V10.1667C11.5333 10.001 11.6676 9.86667 11.8333 9.86667H16.5C16.6657 9.86667 16.8 10.001 16.8 10.1667V16.5C16.8 16.6657 16.6657 16.8 16.5 16.8H11.8333ZM11.5333 3.5C11.5333 3.33431 11.6676 3.2 11.8333 3.2H16.5C16.6657 3.2 16.8 3.33431 16.8 3.5V6.5C16.8 6.66569 16.6657 6.8 16.5 6.8H11.8333C11.6676 6.8 11.5333 6.66569 11.5333 6.5V3.5Z" stroke="#109CF1" stroke-width="1.4" />
                </svg>
                <span class="nav-label">Dashboard</span>
                <br>
                <a href="{{url_for('index')}}" style="padding-left:20px;">Log Out</a>
              </div>
            </a>
          </li>
          
      <div class="toggle">
        <a href="">
          <div class="menu-icon">
            <img src="./img/toggle_sidebar.svg" alt="" />
          </div>
        </a>
      </div>
     
    </div>
  </aside>
 

  <div class="main">
   
    <div class="first">
   
    
   
    <div class="second d-flex">
    
      <div class="deals">
      <div class="task">
        <div class="panelHeader d-flex">
          <h3>Attendance Analytics</h3>
        
        </div>
        <!-- panelHeader -->
        <div class="task-graph">
          <img class="img-graph" src="{{url_for('static',filename='img/student.png')}}" alt="" />
         
          
        </div>
      </div>
     
    </div>
  
  </div>
 
</div>

</body>
</html>