<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static',filename='leave.css')}}" />
    <title>Leave Application</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

  </head>
  <body>
    <div class="main-container">
      <form>
        <div class="container">
          <h1>Leave Application</h1>
          <hr />

          <div class="form-item">
            <label for="email" id="name">Name</label>
            <input
              type="text"
              placeholder="Your Name"
              name="text"
              id="name"
              required
            />
          </div>

          <div class="form-item">
            <label for="identity" id="identity">Student Id</label>
            <input
              type="text"
              placeholder="xyz121"
              name="identity"
              id="identity"
              required
            />
          </div>
          <div class="form-item">
            <label for="date" id="date">Start Date</label>
            <br>
            <input
              type="date"
              placeholder="01/01/2000"
              name="date"
              id="date"
              required
              style="border: none;"
            />
        </div>
            
            <div class="form-item">
            <label for="date" id="date">End Date</label>
            <br>
            <input
              type="date"
              placeholder="01/01/2000"
              name="date"
              id="date"
              required
            style="border: none;"
              />
          </div>
          

            <div class="form-item">
                <label for="reason" id="reason">Reason</label>
                <br>
                <textarea
                
                placeholder="Reason for leave"
                name="reason"
                id="reason"
                required
                style="border: none;"
                ></textarea>
                </div>

          <div class="form-item">
            <label for="psw" id="pnumber">Parent's Phone Number</label>
            <input
              type="text"
              placeholder="+91- XXXXXXXXXX "
              name="studphone"
              id="studphone"
              required
            />
          </div>
          <br />
        
            <div class="button">
               
                <a  href="{{url_for('leaves')}}"style="text-decoration:none;color:white;" class="registerbtn">Submit</a>
            </div>
            
        </div>
    
        </div>
      </form>
    </div>
   
  </body>
</html>
